.img-uploader {
  position: relative;
  width: 600px;
  overflow: auto;
  z-index: 100;
}
.img-uploader .img-uploader-container {
  float: left;
  width: 100%;
}

.img-uploader .img-uploader-preview {
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 10px;
}
.img-uploader .img-uploader-preview.circle {
  border-radius: 200px;
}

.actions-bar {
  clear: both;
  position: relative;
  width: 440px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 100;
}
